<div class="container">
  <div class="user-details">
    <br />
    <p> </p>
  </div>
  <div class="row user">
        <div class="four columns">
      <h4>Front</h4>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-react-original colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <p></p>
      <p>Angular, React, and more. </p>
    </div>
	<div class="four columns">
      <h4>Back</h4>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <p></p>
      <p>Python, NodeJS, Java. </p>
    </div>

    <div class="four columns">
      <h4>Other</h4>
      <i class="devicon-android-plain colored"></i>
      <img src="/assets/img/unity-master-black.png"></img>

     

      <p>I've developed android apps, random utility bots, and games.</p>
    </div>

  <p> If you'd like me to code/draw/bash pots together for you, feel free to send a message. </p>
  </div>
</div>
