<div class="container">
  <div class="user-details">
    <h3>  </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="coursematch" src="{{ "/assets/img/AYEW191.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Course Match </h5>
      <ul>
        <li>Python, React, machine learning</li>
      </ul>
      <p>A prototype web application to compare course outlines between universities. I used a support vector machine with sklearn to classify sentences in course outlines. On similarly classified sentences, I ran the <a href="https://github.com/csurfer/rake-nltk">RAKE algorithm</a> to extract keywords, and then used cosine distance between vectorised keywords to determine the similarity.</p>
      <a class="project-link" href="https://exchange-course-match.herokuapp.com/">Demo Site</a> 
    </div>
  </div>
  <br />
  <div class="row user-projects">
    <div class="six columns">
      <img alt="pokedex" src="{{ "/assets/img/nidokin.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Android Apps </h5>
      <ul>
        <li> Java, SQLite </li>
      </ul>
      <p>I've built a bunch of android apps; you can find the source code on my Github. Currently I'm working on a Spotify BPM matcher, where the user taps a tempo and it'll pull a song of that tempo from Spotify and play it. Eventually I'll do some DSP magic and make it cooler.</p>
      <a class="project-link" href="https://github.com/amisrs/StratDex">Example</a>
    </div>
  </div>
  <br />
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="bot" src="{{ "/assets/img/bot.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Bots </h5>
      <ul>
        <li>Python, NodeJS</li>
      </ul>
      <p>I write bots that do random things for fun. I've written a multiplayer blackjack bot, and a music player bot for Discord. There are some annoying ones like a bot that analyses the parts of speech in your text and (usually nonsensically) makes fun of what you said.</p>
      <a class="project-link" href="https://github.com/amisrs/paraparrot/blob/master/paraparrot.py">Source Code</a> 
    </div>
  </div>

</div>
